<div class="character">
  <label>Nom : </label><span class="characterName"></span><br>
  <label>Sexe : </label><span class="characterGender"></span><br>
  <label>Espèce : </label><span class="characterSpecies"></span><br>
  <label>Taille : </label><span class="characterHeight"></span><br>
  <label>Poids : </label><span class="characterMass"></span><br>
  <label>Année de naissance : </label><span class="characterBirthYear"></span><br>
  <label>Planète d'origine : </label><span class="characterHomeworld"></span><br>
  <label>Couleur de peau : </label><span class="characterSkinColor"></span><br>
  <label>Couleur de cheveux : </label><span class="characterHairColor"></span><br>
  <label>Couleur des yeux : </label><span class="characterEyesColor"></span><br>
  <label>Films : </label><span class="characterFilms"></span><br>
</div>
